{% extends "performData/base.html" %}
{%block body%}
<script src="./static/calendar-ticker.js"></script>
<style type="text/css">
    .js-calendar-graph-svg{
      display:block;
      width:330px;
      height:240px
    }

    .js-calendar-graph-svg>g{
      display:block;
      overflow-wrap: break-word;
      width:330px;
      height:240px
    }
</style>
<div class="container">    
    <div id="cointype" class="row">
        <div class="btn-group">
        </div>
    </div>
    <div class="row">
        <span id="currentday"></span>
    </div>
    <div class="row">
        <div id="calendarTickerContainer" style="height:260px;width:600px;"></div>
        <div id="hourTicker" style="height:260px;width:200px;"></div>
    </div>
    <input type="hidden" class="" id="timedata" style="height:200px;overflow: scroll;" value="{{jsondata}}" />
    <input type="hidden" id="line1" value="{{line1}}" />
    <input type="hidden" id="line2" value="{{line2}}"/>
    <input type="hidden" id="hour1" value="" />
    <div style="height:420px;width:1000px;overflow: scroll">
        <div id="linecharts" style="height:400px;width:6000px;"></div>
    </div>
</div>
<script>
    //var myChart = echarts.init(document.getElementById('linecharts'));

    $(function(){
        
        var CoinsPrice = function(){
            var coinsData = [];
            $('input:checked').each(function(i,n){
                c = $(n).attr("coin");
                s = $(n).attr("site");
                //coins = coins.concat(c, ",");

                coinsData.push([s,c]);
            });
            console.log("#currentday");
            console.log($("#currentday").val());
            
            var postData = {
                cointype: coinsData,
                day: $("#currentday").val(),
                hour: ''
            }
            $.ajax({
                type: 'post',
                url: "./priceline", 
                contentType: "application/json; charset=UTF-8",
                data: JSON.stringify(postData)
            })
            .done(function (data) {
                if(!data)
                    return;

                serialData = []
                console.log(data);
                for(var i in data)
                {
                    if(i == data.length -1)
                        break;
                    d = data[i];
                    console.log(i,d);
                    serialData.push({
                        name: 'data',
                            type: 'line',
                                stack: '总量',
                                    areaStyle: { },
                        data: d
                    });
                }
                console.log("serialData");
                console.log(serialData);
                xData = data[data.length-1];
                console.log(xData);
                lineOkc.myChart.setOption({                     
                    series: serialData,                    
                    xAxis: [
                        {
                            type: 'category',
                            boundaryGap: false,
                            data: xData
                        }
                    ],
                });                
            });
        };
        
        

        var CoinType = function(){
            $.get("./cointp", function (data) {

                for(var tp in data)
                {
                    tp = data[tp]
                    $("#cointype .btn-group").append($('<div class="form-check"><input id="coin1_'+ tp[0] + '_' + tp[1] + 
                        '" class="form-check-input" type="checkbox" coin="'+
                        tp[1]+'" site="'+tp[0]+'"></input><label class="form-check-label" for="coin1_' + tp[0] + '_' + tp[1]+ '" >'
                        +tp[0]+'_'+tp[1]+':'+tp[2]+'</div>'));
                }
                $("input[type='checkbox']").change(function (e) {
                    CoinsPrice();
                });
            });
        }

        CoinType();

        jsondata = eval($("#timedata").val());
        var reg = new RegExp("&#34;","g" );
        hour1 = '{{hour1}}'.replace(reg,"\'");
        var dayList = [];
        for(var i in hour1)
        {
            var d = new Date(parseInt(i)*1000);
            var day = d.getDate();
            dayList.push(d);
        }
        //dayList = checkDate(jsondata);

        var calendar = calendarTicker.init(document.getElementById('calendarTickerContainer'));

        function randomData() {
            now = new Date(+now + oneDay);
            value = value + Math.random() * 21 - 10;
            return {
                name: now.toString(),
                value: [
                    [now.getFullYear(), now.getMonth() + 1, now.getDate()].join('/'),
                    Math.round(value)
                ]
            }
        }

        function formChartData(data) {
            now = new Date(+now + oneDay);
            value = value + Math.random() * 21 - 10;
            return {
                name: now.toString(),
                value: [
                    [now.getFullYear(), now.getMonth() + 1, now.getDate()].join('/'),
                    data[8]
                ]
            }
        }

        var now = +new Date(1997, 9, 3);
        var oneDay = 24 * 3600 * 1000;
        var value = Math.random() * 1000;
        //for (var i = 0; i < 1000; i++) {
        //    data.push(randomData());
        //}

        var linechart = {
            data: [],
            option: option = {
                title: {
                    text: '堆叠区域图'
                },
                tooltip : {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross',
                        label: {
                            backgroundColor: '#6a7985'
                        }
                    }
                },
                legend: {
                    data:['邮件营销','联盟广告','视频广告','直接访问','搜索引擎']
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis : [
                    {
                        type : 'category',
                        boundaryGap : false,
                        data : ['周一','周二','周三','周四','周五','周六','周日']
                    }
                ],
                yAxis : [
                    {
                        type : 'value'
                    }
                ],
                series : [
                    {
                        name:'邮件营销',
                        type:'line',
                        stack: '总量',
                        areaStyle: {},
                        data:[120, 132, 101, 134, 90, 230, 210]
                    },
                    {
                        name:'联盟广告',
                        type:'line',
                        stack: '总量',
                        areaStyle: {},
                        data:[220, 182, 191, 234, 290, 330, 310]
                    },
                    {
                        name:'视频广告',
                        type:'line',
                        stack: '总量',
                        areaStyle: {},
                        data:[150, 232, 201, 154, 190, 330, 410]
                    },
                    {
                        name:'直接访问',
                        type:'line',
                        stack: '总量',
                        areaStyle: {normal: {}},
                        data:[320, 332, 301, 334, 390, 330, 320]
                    },
                    {
                        name:'搜索引擎',
                        type:'line',
                        stack: '总量',
                        label: {
                            normal: {
                                show: true,
                                position: 'top'
                            }
                        },
                        areaStyle: {normal: {}},
                        data:[820, 932, 901, 934, 1290, 1330, 1320]
                    }
                ]
            },
            myChart: {},
            init: function (domchart) {
                charC = echarts.init(domchart);
                console.log(charC);
                this.myChart = charC;
                //this.myChart.setOption(this.option);
                return this;
            },
            refresh:function()
            {
                this.myChart.setOption(this.option);
            }
        };

        lineOkc = linechart.init(document.getElementById('linecharts'));

        kdata = []
        btcData = []
        xkdata = []
        var i = 0;

        console.log(kdata)
        console.log(btcData)
        series= [{
            stack: '总量',
            label: {
                normal: {
                    show: true,
                    position: 'top'
                }
            },
            areaStyle: {normal: {}},
            name: '模拟数据',
            type: 'line',
            showSymbol: false,
            hoverAnimation: false,
            data: kdata
        }]
        console.log(lineOkc.myChart);
        lineOkc.myChart.setOption({
            grid: {
                left: '3%',
                right: '3%',
                bottom: '3%',
                containLabel: true
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    label: {
                        backgroundColor: '#6a7985'
                    }
                }
            },
            xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data : jsondata
                }
            ],
            yAxis : [
                {
                    type : 'value'
                }
            ],
            legend: {
                data:['BTC','LTC']
            },
            series:[{
                stack: '总量',
                areaStyle: {normal: {}},
                name: 'BTC',
                type: 'line',
                data: eval($("#line1").val())
            },
            {
                stack: '总量',
                areaStyle: {normal: {}},
                name: 'LTC',
                type: 'line',
                data: eval($("#line2").val())
            }]
        });

        var s1 = $.get('./dateticker/', function(tickerDict){
            calendar.getStat(function(e){
                return getVirtulData('2018',tickerDict);
            });
        });

        calendar.onclick(function(params){
            if(params.componentType == "series")
            {
                var day = params.data[0];
                console.log("--------");
                console.log(day);
                $("#currentday").val(day);
                $("#hourTicker").empty();
                var s1 = $.get('./dateticker/'+day+'/1', function(data){
                    hour1 = data[day.toString()];
                    var hourRect = HourTicker.init(document.getElementById('hourTicker'),params.data, hour1);
                    hourRect.onclick(function(e){
                        console.log(hourRect.tickerdata);
                        var a = $(e).attr('data-date');
                        var b = $(e).attr('data-hour');
                        var hkey = a + " " + b;
                        console.log(hkey);
                        var cat = [];
                        var line1 = [];
                        var line2 = [];
                        if(hourRect.tickerdata && hourRect.tickerdata[hkey])
                        {
                            cat = hourRect.tickerdata[hkey][0];
                            line1 = hourRect.tickerdata[hkey][0];
                            line2 = hourRect.tickerdata[hkey][1];
                        }
                        lineOkc.myChart.setOption({
                            xAxis : [
                                {
                                    type : 'category',
                                    boundaryGap : false,
                                    data : cat
                                }
                            ],
                            series:[{
                                stack: '总量',
                                areaStyle: {normal: {}},
                                name: 'BTC',
                                type: 'line',
                                data: line1
                            },
                            {
                                stack: '总量',
                                areaStyle: {normal: {}},
                                name: 'LTC',
                                type: 'line',
                                data: line2
                            }]
                        });
                    });
                });

                return day;
            }
            return 
        });

    });
</script>
{% endblock%}
